@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Oswald', 'Roboto', 'sans-serif';
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);

}

// NAVBAR

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: blueviolet;
    align-items: center;
    padding: 0 1.5rem;
}

.logo--name {
    flex: 1;
    font-size: 2rem;
    color: #fff;
}

.logo--name span {
    color: rgb(50, 50, 223);
}

.div--links {
    flex: 3;
}

.nav--ul {
    display: flex;
    justify-content: center;
}

.nav--links {
    color: #FFF;
    margin: 0 2rem;
    font-size: 1.2rem;
    padding: 0.4rem 0;
}

.nav--links:hover {
    border-bottom: 5px solid red;
    color: #c3c3c3;
}

.nav--icon {
    justify-self: flex-end;
}

.fa-bars {
    cursor: pointer;
}

.dropNav {
    background-color: blueviolet;
    display: none;
}

.nav--ul--dropNav {
    display: flex;
    flex-direction: column;
}

.a--links {
    display: flex;
    justify-content: center;
}

.nav--links--dropNav:hover {
    border: none;
}

.dropNav-on {
    display: flex;
    justify-content: center;
}

.div--icon {
    display: none;
}

// SECTION 1

.sec--1-title {
    width: 100%;
    height: 100vh;
    font-size: 5rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    animation-name: entry;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
    padding: 1.5rem 3rem 0 3rem;
}

.card--image {
    width: 28rem;
    height: 18rem;
}

.gallery--image1,
.gallery--image2,
.gallery--image3,
.gallery--image4,
.gallery--image5,
.gallery--image6 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    transform: scale(0.9);
    transition: all 400ms ease;
}

.gallery--image1:hover,
.gallery--image2:hover,
.gallery--image3:hover,
.gallery--image4:hover,
.gallery--image5:hover,
.gallery--image6:hover {
    transform: scale(1);
}

// MODAL

.modal {
    width: 100%;
    height: 100vh;
    display: none;
}

.modal--on {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 4.5rem;
}

.modal--img {
    width: 80%;
    height: 80%;
    border-radius: 1.5rem;
}


// FOOTER

footer {
    width: 100%;
    height: 10vh;
    background-color: #d8d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
}

@media screen and (min-width: 26.9rem) and (max-width: 64rem) {
    .navbar {
        justify-content: space-between;
    }

    .div--icon {
        display: flex;
    }

    .div--links {
        display: none;
    }
    .gallery--image1,
    .gallery--image2,
    .gallery--image3,
    .gallery--image4,
    .gallery--image5,
    .gallery--image6 {
        pointer-events: none;
    }
    .sec--1-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 0rem) and (max-width: 26.8rem) {
    .navbar {
        justify-content: space-between;
    }

    .div--icon {
        display: flex;
    }

    .div--links {
        display: none;
    }
    .gallery--image1,
    .gallery--image2,
    .gallery--image3,
    .gallery--image4,
    .gallery--image5,
    .gallery--image6 {
        pointer-events: none;
    }
    .sec--1-title{
        font-size: 2rem;
    }
}